---
import "../styles/global.css";
import Navbar       from "./Navbar.astro";
import Hero         from "./Hero.astro";
import Stats        from "./Stats.astro";
import About        from "./About.astro";
import Products     from "./Products.astro";
import Clients      from "./Clients.astro";
import Fleet        from "./Fleet.astro";
import Testimonials from "./Testimonials.astro";
import Contact      from "./Contact.astro";
import Footer       from "./Footer.astro";
---

<Navbar />

<main>
  <Hero />
  <Stats />
  <About />
  <Products />
  <Clients />
  <Fleet />
  <Testimonials />
  <Contact />
</main>

<Footer />
